<mat-list>
  <mat-list-item *ngFor="let user of users">
    <img matListAvatar src="{{user.avatar}}" alt="{{user.first_name}}">
    <h3 matLine> {{user.first_name}} </h3>
    <p matLine>
      <span> {{user.last_name}} </span>
    </p>
  </mat-list-item>
</mat-list>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (pageChanged) = page
              (page)="pageEvent = getUsers($event)">
</mat-paginator>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Digite o nome do usuário"
    (input)="username = $event.target.value">
  </mat-form-field>
  <button (click)="inserirUsuario()" mat-flat-button color="primary">Inserir</button>
</div>
