<mat-list>
  <mat-list-item *ngFor="let user of users">
    <img matListAvatar src="{{user.avatar}}" alt="{{user.first_name}}">
    <h3 matLine> {{user.first_name}} {{user.last_name}} </h3>
    <p matLine>
      <span> {{user.email}}               <button (click)="removerUser(user)" mat-flat-button color="warn">
        <i class="fa fa-trash"></i>
      </button>
      </span>
    </p>
  </mat-list-item>
</mat-list>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (pageChanged) = page
              (page)="getUsers($event)">
</mat-paginator>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Digite o nome do usuário"
    (input)="user.first_name = $event.target.value">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Digite o sobrenome do usuário"
    (input)="user.last_name = $event.target.value">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Digite o email do usuário"
    (input)="user.email = $event.target.value">
  </mat-form-field>
  <button (click)="inserirUsuario()" class="button-insert" mat-flat-button color="primary">Inserir</button>
</div>
